* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #ffffffce;
    --secondary-color: #91919185;
    --tertiary-color: #0f0d0d;
    --quarternary-color: rgba(255, 255, 0, 0.692);
    --quinary-color: #B71004;
    --animate-duration: 1681ms;
    --animate-delay: 0.9s;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Righteous', cursive;
    background-image: url(img/bg.jpeg);
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 20px;
}


header a {
    display: flex;
    align-items: center;
    gap: 16px;
    text-decoration: none;
    color: var(--tertiary-color);
    font-size: 1.1rem;
    margin-top: 10px;
}

header a:hover {
    color: var(--tertiary-color);
}


.container img {
    width: 30%;
    transition: 0.5s;
    opacity: 0.9;
    transition: 3.0s;
}

.container img:hover {
   filter: grayscale(100%);
}

.action {
    place-self: center;
    height: 100px;
    width: 350px;
    background-color: rgba(100, 13, 13, 0.432);
    color: #fff;
    font-size: 3rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
}

.action:hover {
    background-color: transparent;
    color: var(--tertiary-color);
}

.footer__text, .footer__text a {
    grid-column: 1/-1;
    place-self: center;
    margin-bottom: 24px;
    color: var(--secondary-color);
    text-decoration: none;
    transition: 1s;
}

.footer__text a:hover {
    text-decoration: none;
    color: var(--tertiary-color);
    font-size: 15px;
}

footer {
    text-align: center;
    margin-top: auto;
}

/* TABLET */

@media (max-width:960px) {
    .container {
        grid-template-columns: 1fr;
    }

    header {
        margin-top: 30px;
    }

    .action {
        grid-column: 1;
        grid-row: 2;
        place-self: end center;
        margin-bottom: 24px;
    }

    footer {
        display: none;
    }
}

@media (max-width:640px) {
    
    .action {
        width: 100%;
        font-size: 10vw;
    }
}