* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #ffffffce;
    --secondary-color: #91919185;
    --tertiary-color: #0f0d0d;
    --quarternary-color: rgba(255, 255, 0, 0.692);
    --quinary-color: #B71004;
    --animate-duration: 1681ms;
    --animate-delay: 0.9s;
}

body {
    height: 100vh;
    font-family: 'Righteous', cursive;
    background-image: url(/assets/static/img/bg.jpeg);
    background-size: cover;
}

a {
    text-decoration: none;
    color: var(--tertiary-color);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: spactransformei grid para displayflexe-around;
    align-items: center;
    height: 100%;
    gap: 20px;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}

.container img {
    width: 30%;
    transition: 1.5s;
}

.container img:hover {
    filter: grayscale(100%);
}

.action {
    height: 100px;
    width: 350px;
    background-color: #c6141498;
    border-radius: 5px;
    color: #fff;
    font-size: 3rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
}

.action:hover {
    background-color: transparent;
    color: var(--tertiary-color);
}

.footer__text, .footer__text a {
    color: var(--tertiary-color);
    text-decoration: none;
    transition: 1s;
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footer__text a:hover {
    text-decoration: none;
    color: var(--tertiary-color);
    transform: scale(1.1);
    letter-spacing: 0.5rem;
    padding-left: 20px;
}

footer {
    text-align: center;
}

/* TABLET */

@media (max-width:768px) {

    .action {
        width: 50%;	
        height: 70px;
        font-size: 1.1rem;
    }

    .container img {
        width: 60%;
    }
}

.floating {   
    animation-name: floating; 
    animation-duration: 3s; 
    animation-iteration-count: infinite; 
    animation-timing-function: ease-in-out; 
} 
  
@keyframes floating { 
    0% { transform: translate(0,  0px); } 
    50%  { transform: translate(0, 5px); } 
    100%   { transform: translate(0, 0px); }     
} 